Repository Alex-Sebastian-Ene/Order-Flow-Predictor, changes with the labels that .github/labeler.yml gives for each.
All labels: version, feature, bug, documentation, dependencies, model, data, tests, cpp, python

.github/labeler.yml:

# Add version label to changes in version files
version:
  - pyproject.toml
  - setup.cfg
  - setup.py

# Add feature label to feature branches
feature:
  - src/**/*

# Add bug label to fix branches
bug:
  - src/**/*

# Add documentation label to docs
documentation:
  - docs/**/*
  - "*.md"
  - "**/*.md"

# Add dependencies label
dependencies:
  - requirements.txt
  - pyproject.toml
  - Dockerfile
  - docker-compose.yml

# Add model label
model:
  - src/python/models/**/*
  - src/python/features/**/*

# Add data label
data:
  - src/python/data/**/*

# Add tests label
tests:
  - tests/**/*
  - "**/*_test.py"
  - "**/*_tests.py"

# Add C++ label
cpp:
  - src/cpp/**/*
  - "**/*.cpp"
  - "**/*.hpp"
  - "**/*.h"

# Add Python label  
python:
  - src/python/**/*
  - "**/*.py"

Fix for errors
  .github/workflows/ci.yml
  debug_imports.py
  poetry.lock
  pyproject.toml
  run-ci-local.sh
  setup.cfg
  src/python/features/feature_engineering.py
  tests/conftest.py
  tests/test_basic.py
Labels: version, feature, bug, dependencies, model, tests, python

Improve CI workflow and test import robustness
  .github/workflows/ci.yml
  tests/test_basic.py
Labels: tests, python

Update CI dependencies
  .github/workflows/ci.yml
  tests/test_basic_new.py
Labels: tests, python

Remove redundant test and update CI/mypy config
  .github/workflows/ci.yml
  setup.cfg
  tests/test_basic_new.py
Labels: version, tests, python

Remove redundant test and update CI/mypy config
  .github/workflows/ci.yml
  setup.cfg
  src/utils/config.py
  tests/test_basic_new.py
Labels: version, feature, bug, tests, python

Update CI workflow and test configuration
  .github/workflows/ci.yml
  pyproject.toml
  setup.cfg
Labels: version, dependencies

Enhance CI pipeline resilience and configuration
  .github/CI_STATUS.md
  .github/scripts/check-ci.sh
  .github/workflows/ci.yml
  setup.cfg
Labels: version, documentation

Try to update and make it work
  .github/workflows/pr-check.yml
  poetry.lock
  pyproject.toml
Labels: version, dependencies
